<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/css/franklin.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/basic.css' | relative_url }}">
  <title>{{ page.title }} | Adarsh Nanjaiya Latha</title>  
  <link rel="stylesheet" href="{{ '/libs/katex/katex.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/libs/highlight/styles/github.min.css' | relative_url }}">
  <script src="{{ '/libs/katex/katex.min.js' | relative_url }}"></script>
  <script src="{{ '/libs/katex/contrib/auto-render.min.js' | relative_url }}"></script>
  <script src="{{ '/libs/highlight/highlight.min.js' | relative_url }}"></script>
  <script>document.addEventListener("DOMContentLoaded", function() { renderMathInElement(document.body, {delimiters: [{left: "$$", right: "$$", display: true}, {left: "$", right: "$", display: false}, {left: "\\[", right: "\\]", display: true}, {left: "\\(", right: "\\)", display: false}]}); hljs.highlightAll(); });</script>
</head>
<body>
  <header>
<div class="blog-name"><a href="{{ '/' | relative_url }}">Adarsh Nanjaiya Latha</a></div>
<nav>
  <ul>
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/publications.html' | relative_url }}">Publications</a></li>
    <li><a href="{{ '/experience.html' | relative_url }}">Experience</a></li>
    <li><a href="{{ '/projects.html' | relative_url }}">Projects</a></li>
    <li><a href="{{ '/otium.html' | relative_url }}">Otium</a></li>
    <li><a href="{{ '/misc.html' | relative_url }}">Misc</a></li>
  </ul>
  <img src="{{ '/assets/hamburger.svg' | relative_url }}" id="menu-icon">
</nav>
</header>

<div class="franklin-content">
  {{ content }}
<div class="page-foot">
    <div class="copyright">
        &copy; Adarsh Nanjaiya Latha.
    </div>
</div>
</div>
<script>
  document.getElementById('menu-icon').addEventListener('click', function() {
    var nav = document.querySelector('nav ul');
    if (nav.style.display === 'block') {
      nav.style.display = '';
    } else {
      nav.style.display = 'block';
    }
  });
</script>
</body>
</html>
